{% extends "layout.html" %}
{% block content1 %}
    <div>
      <h1>The Sustainable Kit</h1>
    </div>
    <div class="container text-center">
      <div class="row m-4">
        <div class="card-deck">
          <div class="card zoom border-rad" style="width: 15rem;">
            <img src="../static/cups.webp" class="card_img card-img-top p-2" alt="Plant Based Usable Cups">
            <div class="card-body">
              <h6 class="card-title">Plant Based Usable Cups</h6>
              <p class="card-text">$2.39</p>
            </div>
            <div class="card-footer">
              <a href="#" class="btn btn-primary btn-sm bt_zoom">Add To Cart</a>
            </div>
          </div>
          <div class="card zoom" style="width: 15rem;">
            <img src="../static/bamboo.webp" class="card_img card-img-top p-2" alt="Reusable Bamboo Straws">
            <div class="card-body">
              <h6 class="card-title">Reusable Bamboo Straws</h6>
              <p class="card-text">$1.99</p>
            </div>
            <div class="card-footer">
              <a href="#" class="btn btn-primary btn-sm bt_zoom">Add To Cart</a>
            </div>
          </div>
          <div class="card zoom" style="width: 15rem;">
            <img src="../static/containers.webp" class="card_img card-img-top p-2" alt="Pland Basesed Reusable Containers">
            <div class="card-body">
              <h6 class="card-title">Pland Based Reusable Containers</h6>
              <p class="card-text">$2.99</p>
            </div>
            <div class="card-footer">
              <a href="#" class="btn btn-primary btn-sm bt_zoom">Add To Cart</a>
            </div>
          </div>
          <div class="card zoom" style="width: 15rem;">
            <img src="../static/loofa.jpg" class="card_img card-img-top p-2" alt="Natural Bamboo Loofah">
            <div class="card-body">
              <h6 class="card-title">Natural Bamboo Loofah</h6>
              <p class="card-text">$2.99</p>
            </div>
            <div class="card-footer">
              <a href="#" class="btn btn-primary btn-sm bt_zoom">Add To Cart</a>
            </div>
          </div>
          <div class="card zoom" style="width: 15rem;">
            <img src="../static/toothbrush.jpeg" class="card_img card-img-top p-2" alt="Bamboo ToothBrush">
            <div class="card-body">
              <h6 class="card-title">Bamboo ToothBrush</h6>
              <p class="card-text">$3.59</p>
            </div>
            <div class="card-footer">
              <a href="#" class="btn btn-primary btn-sm bt_zoom">Add To Cart</a>
            </div>
          </div>
        </div>

        <!-- <div class="pagination_container"></div> -->

        <!-- <div class="col mb-4">
          <div class="card" style="width: 15rem;">
            <img src="../static/cups.webp" class="card-img-top" alt="Plant Based Usable Cups">
            <div class="card-body">
              <h5 class="card-title">Plant Based Usable Cups</h5>
              <p class="card-text">$2.39</p>
              <a href="#" class="btn btn-primary btn-sm">Add To Cart</a>
            </div>
          </div>
        </div>
        <div class="col mb-4">
          <div class="card" style="width: 15rem;">
            <img src="../static/bamboo.webp" class="card-img-top" alt="Reusable Bamboo Straws">
            <div class="card-body">
              <h5 class="card-title">Reusable Bamboo Straws</h5>
              <p class="card-text">$1.99</p>
              <a href="#" class="btn btn-primary btn-sm">Add To Cart</a>
            </div>
          </div>
        </div>
        <div class="col mb-4">
          <div class="card" style="width: 15rem;">
            <img src="../static/containers.webp" class="card-img-top" alt="Pland Basesed Reusable Containers">
            <div class="card-body">
              <h5 class="card-title">Pland Basesed Reusable Containers</h5>
              <p class="card-text">$2.99</p>
              <a href="#" class="btn btn-primary btn-sm">Add To Cart</a>
            </div>
          </div>
        </div>
        <div class="col mb-4">
          <div class="card" style="width: 15rem;">
            <img src="../static/loofa.jpg" class="card-img-top" alt="Natural Bamboo Loofah">
            <div class="card-body">
              <h5 class="card-title">Natural Bamboo Loofah</h5>
              <p class="card-text">$2.99</p>
              <a href="#" class="btn btn-primary btn-sm">Add To Cart</a>
            </div>
          </div>
        </div>
        <div class="col mb-4">
          <div class="card" style="width: 15rem;">
            <img src="../static/toothbrush.jpeg" class="card-img-top" alt="Bamboo ToothBrush">
            <div class="card-body">
              <h5 class="card-title">Bamboo ToothBrush</h5>
              <p class="card-text">$3.59</p>
              <a href="#" class="btn btn-primary btn-sm">Add To Cart</a>
            </div>
          </div>
        </div> -->
      </div>
    </div>
{% endblock content1 %}
